.information {
    color:black    
    margin:0;
    padding-top:5em;
    text-align: center;
    list-style-type: none;
    font-size: 30px;
}
body{
    background-color: #969595;
}
a {
  text-decoration: none;
    color: black;
    background-color: #696969;
    border-radius: 1em;
    margin: 0.3em;
    padding: 0.3em;
}
.links{
    margin:0;
    padding:0;
    text-align: center;
    list-style-type: none;
    font-size: 30px;
    
}
.projects{
    margin:0;
    padding:0;
    text-align: center;
    list-style-type: none;
    font-size: 30px;
}